@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply flex justify-center items-center min-h-screen bg-[#071111] font-rublic;
  }
  .box:hover .content {
    @apply scale-100 bottom-9;
  }
  .icon {
    @apply relative text-[rgba(255,255,255,0.5)] bg-[rgba(0,0,0,0.2)] w-8 h-8 flex justify-center items-center rounded-md transition-all duration-500;
  }
  .icon:hover {
    @apply text-[rgba(255,255,255,1)];
  }
  .anim {
    animation: animate 4s linear infinite;
  }
  .anim2 {
    animation: animate 4s linear infinite;
    animation-delay: -2s;
  }
  .circle {
    @apply relative w-40 h-40 flex justify-center items-center;
  }
  .svg {
    @apply relative w-40 h-40 rotate-[270deg];
  }
  circle {
    @apply w-full h-full fill-transparent stroke-[#282828] translate-x-2 translate-y-2;
  }
  circle {
    stroke-linecap: round;
  }
  .time div {
    @apply absolute text-center text-white text-2xl;
  }
  .time div span {
    @apply absolute translate-x-[-50%] translate-y-[-10px] text-base tracking-widest uppercase;
  }
  .dots {
    @apply absolute w-full h-full rounded-[50%] flex justify-center items-start z-50;
  }
  .clip:before {
    clip-path: polygon(50% 0%, 15% 100%, 85% 100%);
  }
  .number {
    position: absolute;
    width: 50%;
    height: 50%;
    background: var(--clr);
    transform-origin: bottom right;
    transform: rotate(calc(45deg * var(--i)));
    clip-path: polygon(0 0, 59% 0, 100% 100%, 0 59%);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
  }
  .number span {
    @apply relative rotate-45 text-3xl text-white;
  }
  .number span {
    text-shadow: 3px 5px 2px rgba(0, 0, 0, 0.15);
  }
  .trans {
    transform: rotate(var(--rot));
    transition: transform 5s ease-in-out;
  }
  .shad {
    box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05),
      25px 35px 20px rgba(0, 0, 0, 0.05), 25px 30px 30px rgba(0, 0, 0, 0.05),
      inset -20px -20px 25px rgba(255, 255, 255, 0.9);
    border-radius: 73% 27% 59% 41% / 57% 59% 41% 43%;
    transition: 0.5s ease-in-out;
  }
  .shad:hover {
    border-radius: 23%;
  }
  .btn {
    background: var(--clr);
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    transition: 0.5s;
  }
  .cube {
    @apply relative inline-block lg:w-24 lg:h-24 w-12 h-12 bg-[#dcdcdc];
  }
  .cube {
    z-index: calc(1 * var(--i));
    transition: 1.5s;
    position: relative;
  }
  .cube:hover {
    transition: 0s;
    background: #ef4149;
    filter: drop-shadow(0 0 50px #ef4149);
  }
  .cube::before {
    content: '';
    position: absolute;
    @apply lg:left-[-70px] lg:w-[70px] left-[-35px] w-[35px];
    height: 100%;
    background: #fff;
    transform-origin: right;
    transform: skewY(45deg);
    transition: 1.5s;
  }
  .cube:hover::before {
    transition: 0s;
    background: #f75d64;
  }
  .cube::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    @apply lg:top-[-70px] lg:h-[70px] top-[-35px] h-[35px];
    background: #f2f2f2;
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 1.5s;
  }
  .cube:hover::after {
    transition: 0s;
    background: #f75d64;
  }
  .cubes div {
    position: absolute;
    display: flex;
    flex-direction: column;
    @apply lg:gap-[30px] gap-[10px];
    translate: calc(-120px * var(--x)) calc(-110px * var(--y));
  }
  .minicubes div {
    position: absolute;
    display: flex;
    flex-direction: column;
    @apply lg:gap-[30px] gap-[10px];
    translate: calc(-60px * var(--x)) calc(-55px * var(--y));
  }
  .cubes2:nth-child(2) {
    z-index: 1;
    @apply lg:translate-x-[-110px] lg:translate-y-[-110px] translate-x-[-40px] translate-y-[-40px];
  }
  .cubes3:nth-child(3) {
    z-index: 3;
    @apply lg:translate-x-[110px] lg:translate-y-[110px] translate-x-[40px] translate-y-[40px];
  }
  .anim-cube {
    animation: animate2 5s linear infinite;
  }
  .list li button {
    @apply relative flex justify-center items-center flex-col w-full text-center;
  }
  .icon2 {
    @apply relative block text-3xl text-[rgba(255,255,255,0.5)];
  }
  .list li:hover .icon2 {
	 @apply text-[rgba(255,255,255,1)]
  }
  .list li.active button .icon2 {
    @apply -translate-y-4 text-[#29fd53];
  }
  .text {
    @apply absolute text-xs text-white tracking-wider uppercase translate-y-0 z-10;
    transition: 0.5s;
  }
  .list li.active button .text {
    @apply translate-y-[13px] opacity-100;
  }
  .indicator {
    @apply absolute w-20 h-20 flex justify-center items-center before:content-[''] before:absolute before:bottom-[18px] left-[-27px] before:w-4/5 before:h-[18px] before:bg-[#29fd53] before:rounded-xl;
  }
  .list a li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(158px * 1));
  }
  .list a li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(158px * 2));
  }
  .list li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(158px * 3));
  }
  .nohide:hover .hide{
	 @apply opacity-100;
  }
  .grad {
    background: linear-gradient(transparent, #fff);
    animation: animate3 5s linear infinite;
  }
  .grad:nth-child(3n+1) {
    background: linear-gradient(transparent, #0ff)
  }
  .grad:nth-child(3n+2) {
    background: linear-gradient(transparent, #0f0)
  }
  .grad:nth-child(3n+3) {
    background: linear-gradient(transparent, #f00)
  }
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate2 {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

@keyframes animate3 {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(calc(100vh + 200px));
  }
}
